html {
  min-height: 100%;
}

body {
  height: auto;
  background-color: #c7c2c2;
  color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}
#name,
#email,
#textarea {
  color: white;
}
#submit {
  margin-bottom: 15px;
  background-color: #4aaaa5;
}
#submit:hover {
  background-color: #4aaaa5;
}
#submit:active {
  background-color: #4aaaa5;
}

nav {
  background-color: black;
  margin-bottom: 30px;
}
nav a {
  text-align: left;
  width: 140px;
}
li:hover {
  background-color: #1f1e1e;
}
a:hover {
  color: #4aaaa5;
}
.page-footer {
  background-color: black;
  border-top: 6px solid #4aaaa5;
  padding: 0;
}

a {
  color: white;
}

main {
  flex: 1 0 auto;
}
header {
  background-image: url(../images/white-wood-texture.jpg);
  background-position: center;
  background-size: 85%;
  background-color: black;
  border-bottom: 4px solid #4aaaa5;
  padding-bottom: 63px;
  padding-top: 35px;
  background-repeat: no-repeat;
}

span {
  font-weight: bold;
  text-align: center;
}

h1 {
  width: 50%;
  font-size: 105px;
  margin: 0 auto;
  text-shadow: -1px -1px 0 #c7c2c2, 1px -1px 0 #c7c2c2, -1px 1px 0 #c7c2c2,
    1px 1px 0 #c7c2c2;
  padding: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.tables {
  background-color: #000000;
  height: 100%;
}

.portrait {
  width: 150px;
  height: 150px;
  border: 2px solid white;
}

.connect {
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
}
.divider {
  border: 1px solid #4aaaa5;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h1 {
    width: 40%;
    font-size: 85px;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
  }
  header {
    background-size: 127%;
  }

  tables {
    background-color: #000000;
  }

  .portrait {
    position: relative;
    left: 25%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  margin-left: 40px;
  margin-bottom: 50px;
}

.imageLink {
  width: 265px;
  height: 200px;
  border: 1px solid white;
  overflow-y: visible;
  background-image: url('../images/portfolioicon.png');
  background-size: cover;
  margin-left: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

#BRB {
  background-image: url('../images/BRB.png');
  background-size: cover;
}

#MS {
  background-image: url('../images/Mongo.jpg');
  background-size: cover;
}

#GG {
  background-image: url('../images/giphy.jpg');
  background-size: cover;
}

#TS {
  background-image: url('../images/train.jpg');
  background-size: cover;
}

#FF {
  background-image: url('../images/ff.jpg');
  background-size: cover;
}

#B {
  background-image: url('../images/bamazon.jpg');
  background-size: cover;
}

#KP {
  background-image: url('../images/kenosha.JPG');
  background-size: cover;
}

#AS {
  background-image: url('../images/aspen.JPG');
  background-size: cover;
}

#DU {
  background-image: url('../images/dunedin.JPG');
  background-size: cover;
}

#WA {
  background-image: url('../images/wanaka.JPG');
  background-size: cover;
}

#DD {
  background-image: url('../images/dolphin.JPG');
  background-size: cover;
}

#LT {
  background-image: url('../images/tahoe.JPG');
  background-size: cover;
}

#TB {
  background-image: url('../images/bean.jpg');
  background-size: cover;
}

#MA {
  background-image: url('../images/mary.JPG');
  background-size: cover;
}

#SA {
  background-image: url('../images/seattle.jpg');
  background-size: cover;
}

#ML {
  background-image: url('../images/mohawk.JPG');
  background-size: cover;
}

.banner {
  width: 265px;
  height: 70px;
  background-color: #4aaaa5;
  text-align: center;
  color: #fff;
  font-size: 28px;
  position: relative;
  top: 101px;
  padding: 15px 0;
  letter-spacing: 3px;
  font-weight: 400;
}

.bLink {
  display: block;
  text-decoration: none;
  z-index: 10;
  filter: alpha(opacity=1);
}
@media screen and (max-width: 1024px) {
  h1 {
    width: 50%;
    font-size: 90px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
  }
  header {
    background-size: 80%;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 30px;
    margin-left: 5px;
    margin-bottom: 50px;
    width: 500px;
  }
  .imageLink {
    width: 225px;
    height: 230px;
    border: 1px solid white;
    overflow-y: visible;
    background-image: url('../images/portfolioicon.png');
    background-size: cover;
    margin-left: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  }
  .banner {
    width: 225px;
    height: 100px;
    background-color: #4aaaa5;
    text-align: center;
    color: #fff;
    font-size: 38px;
    position: relative;
    top: 101px;
    padding: 15px 0;
    letter-spacing: 3px;
    font-weight: 400;
  }
  .connect {
    width: 65px;
    height: 65px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 980px) {
  .grid {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 0;
  }
  header {
    background-image: url(../images/white-wood-texture.jpg);
    background-position: center;
    background-size: 70%;
    background-color: black;
    border-bottom: 1px solid white;
    padding-bottom: 63px;
    padding-top: 35px;
    background-repeat: no-repeat;
  }
  h1 {
    width: 40%;
    font-size: 85px;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    width: 80%;
  }

  .imageLink {
    width: 350px;
    height: 230px;
    border: 1px solid white;
    overflow-y: visible;
    background-image: url('../images/portfolioicon.png');
    background-size: cover;
    margin-left: 70px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  }
  .banner {
    width: 350px;
    height: 90px;
    background-color: #4aaaa5;
    text-align: center;
    color: #fff;
    font-size: 38px;
    position: relative;
    top: 111px;
    padding: 15px 0;
    letter-spacing: 3px;
    font-weight: 400;
  }

  input[type='text'] {
    width: 90%;
  }

  textarea {
    width: 90%;
  }
  .connect {
    width: 65px;
    height: 65px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    background-color: black;
    margin-bottom: 30px;
    text-align: left;
  }
  nav a {
    text-align: center;
    width: 115px;
  }

  input[type='text'] {
    width: 90%;
  }

  textarea {
    width: 90%;
  }
  header {
    background-image: url(../images/white-wood-texture.jpg);
    background-position: center;
    background-size: 70%;
    background-color: black;
    border-bottom: 1px solid white;
    padding-bottom: 63px;
    padding-top: 35px;
    background-repeat: no-repeat;
  }
  h1 {
    width: 40%;
    font-size: 85px;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    width: 80%;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 0;
  }
  .imageLink {
    width: 355px;
    height: 235px;
    border: 1px solid white;
    overflow-y: visible;
    background-image: url('../images/portfolioicon.png');
    background-size: cover;
    margin-left: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  }
  .banner {
    width: 355px;
    height: 105px;
    background-color: #4aaaa5;
    text-align: center;
    color: #fff;
    font-size: 45px;
    position: relative;
    top: 101px;
    padding: 15px 0;
    letter-spacing: 3px;
    font-weight: 400;
  }
  .connect {
    width: 65px;
    height: 65px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {
    nav {
      background-color: black;
      margin-bottom: 50px;
      text-align: center;
    }
    nav a {
      text-align: center;
      width: 96px;
    }
    header {
      background-image: url(../images/white-wood-texture.jpg);
      background-position: center;
      background-size: 80%;
      background-color: black;
      border-bottom: 1px solid white;
      padding-bottom: 63px;
      padding-top: 35px;
      background-repeat: no-repeat;
    }
    h1 {
      width: 40%;
      font-size: 50px;
      margin: 0 auto;
      padding: 30px;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      width: 85%;
    }
    .connect {
      width: 65px;
      height: 65px;
      margin-bottom: 30px;
    }
    .grid {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      grid-column-gap: 0;
    }
    .imageLink {
      width: 285px;
      height: 185px;
      border: 1px solid white;
      overflow-y: visible;
      background-image: url('../images/portfolioicon.png');
      background-size: cover;
      margin-left: 2px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    }
    .banner {
      width: 287px;
      height: 75px;
      background-color: #4aaaa5;
      text-align: center;
      color: #fff;
      font-size: 37px;
      position: relative;
      top: 101px;
      letter-spacing: 3px;
      font-weight: 400;
    }
    h2,
    h3,
    h4 {
      font-family: 'Oswald', sans-serif;
      font-weight: 400;
    }
  }
}
